*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
p.redred{

   color:rgb(82, 136, 189);
   font-size: 40px;
   text-align: center;
   text-indent: 2em;
   background-color: rosybrown;
   padding: 20px;
   border: 10px solid rgb(255, 174, 0);
   border-radius: 10px;
   margin: 50% auto；
}

.blueblue{
    color:rgb(140, 105, 70);
}

.green{
    color:rgb(127, 183, 127);
}

body{
    font-family: 'Noto Serif TC',sans-serif;
}


.expedu_icon{
    background-color: #f3d477;
    color: #dc5535;
    border-radius: 10px;
   
}


.nav-link{
    color: #ff9607;
}

.navbar-nav .nav-link.active {
    color: #bd5d38;
}

a {
    color: var(--bs-link-color);
    text-decoration: underline;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: sandybrown !important;
    background-image: url(../assets/img/背景圖片.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}
.yellow{

    color: rgb(245, 182, 64)

}