*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

.container-fluid{
    background-color: #a4360b30;
}

p.lead{
    background-color: rgba(188, 143, 143, 0.515);
    padding: 15px;
    border: 5px solid rgba(255, 174, 0, 0.431);
    border-radius: 10px;
}


.green{
    color:rgb(196, 121, 45);
}

body{
    font-family: 'Noto Serif TC',sans-serif;
}


.expedu_icon{
    background-color: #efb841a8;
    color: #dc5535;
    border-radius: 10px;
   
}


.nav-link{
    color: #ff9607;
    
}

.nav-link:hover{
    font-size: 125%;
}

.navbar-nav .nav-link.active {
    color: #bd5d38;
}

a {
    color: var(--bs-link-color);
    text-decoration: underline;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: sandybrown !important;
    background-image: url(../assets/img/背景圖片.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.text-primary {
    --bs-text-opacity: 1;
    color: #bd5d38, var(--bs-text-opacity) !important;
}
.yellow{

    color: rgb(228, 163, 44)

}

.navbar-nav {
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
}

.nav-link:hover, .nav-link:focus {
    color: var(--bs-nav-link-hover-color);
}

.social-icons .social-icon {
    background-color: #ff9607;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    color: #bd5d38;
}

.nav-link:hover, .nav-link:focus {
    color: var(--bs-nav-link-hover-color);
}

