*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
p.redred{
   color:rgb(82, 136, 189);
   font-size: 40px;
   text-align: center;
   text-indent: 2em;
   background-color: rosybrown;
   
}

.blueblue{
    color:rgb(140, 105, 70);
}

.green{
    color:rgb(67, 118, 67);
}

body{
    font-family: 'Noto Serif TC',sans-serif;
}